
.adress {
    overflow: hidden;
  }
  .test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width:480px) {
      &{
       justify-content: center;
  
      }
      .coll{
        width: 100%;
      }
      
    }
  }
  
  .todos {
  
    position: relative;
    margin: 100px 0;
  }
  

  