:root{
   --theme_main_bg_clr: #fbf9f4;
   --background:#F7F5EF;
   --main_theme_clr: #43290a;
   --theme_third_bg_clr: #fbf9f4;
   --p_color:#958A7E;
    --form_content_bg_clr: #fff;
    --footer_bg_clr: #43290A;
    --theme_text_clr: #313131;
    --theme_secondary_text_clr: #a8b1c1;
    --main_theme_clr: #43290a;
    --dark_main_theme_clr: #29479a;
    --very_light_theme_clr: #fbfffc; 
    --soft_main_theme_clr: #a8e2ff;
    --secondary_theme_clr: #f5ecff;
    --blurred_clr: hsla(0,0%,100%,0.6);
    --simple_shadow_clr: hsla(0,0%,88.2%,0.3);
    --mid_shadow_clr: hsla(0,0%,88.2%,0.6);
    --border_clr: #f3f3f3;
    --skeleton_loader_card_clr: #ebebeb;
    --white_clr: #fff;
    --lighter_gray_clr: #f7f7fa;
    --light_gray_clr: #8d8d8d;
    --mid_gray_clr: #313131;
    --dark_gray_clr: #212121;
    --mid_blue_clr: #103580;
    --mid_green_clr: #34bf6c;
    --deep_red-clr: #810000;
    --mid_red_clr: #fa4248;
    --light_red_clr: #ff2159;
    --soft_red_clr: #ffd8e2;
    --gold_clr: #fd0;
    --soft_yellow_clr: #fff8cc;
    --facebook_clr: #4267b2;
    --twitter_clr: #1da1f2;
    --whatsApp_clr: #25d366;
    --telegram_clr: #08c;
    --linkedin_clr: #2867b2;
    --youtube_clr: red;
}